ErrorDocument 404 /404.php
ErrorDocument 500 /500.php

RewriteEngine on
#set to 1 for LIVE or 2 for MAINTENANCE
#BEGIN_STATUS
RewriteRule .* - [E=STATUS:1]
#END_STATUS

#If the ENVIRONMENT variable is 'maintenance' then show a maintenance page
#BEGIN_IP
RewriteCond %{REMOTE_HOST} !^(127.0.0.1|127.0.0.1|127.0.0.1|127.0.0.1|127.0.0.1|127.0.0.1)
#END_IP
RewriteCond %{REQUEST_URI} !maintenance [NC]
RewriteCond %{REQUEST_URI} !register-ip [NC]
RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
RewriteCond %{ENV:STATUS} ^2$
RewriteRule ^.*$ /maintenance.html [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

RedirectMatch 301 /awarding https://docs.google.com/forms/d/e/1FAIpQLSfyT8_kEXhFkMJtciA5DYzzMTHkD_W5L_IFVDCeinjaePXFNg/viewform